<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Angular Logo" src="https://raw.githubusercontent.com/flyimg/graphic-assets/master/logo/raster/flyimg-logo-rgb.png">
</div>
<h2>Image library compannion to Flyimg</h2>
<div class="toolbar">
    <p>here be toolbar
        <a routerLink="/some/other/folder">link to folder</a>
        <span> -- </span>
        <a routerLink="/some/other/second-folder">link to second folder</a>
    </p>
</div>
<router-outlet></router-outlet>
