.actions-spacer {
    flex: 1 1 auto;
}

.upload-trigger {
    cursor: pointer;
    display: inline-block;

    .mat-raised-button {
        /* this allows the label to be clicked instead of this element */
        pointer-events: none
    }
}

:host ::ng-deep .overlay-icon {
    color: #3f51b5;
    position: absolute;
    transform: rotate(90deg) translateX(9px) translateY(25px);
    font-size: 1.25em;
}
